.changePassword {
    display: block;
    height: 80vh;
}

.formularChangePassword {
    width: 100%;
}

.titleChangepassword {
    text-align: center;
    margin-top: 10px;
}

#submitChangePassword {
    background-color: rgb(7, 62, 82);
}

.changePassword .container {
    margin-top: 3%;
}

@media (max-width: 600px){
    .imgChangePassword {
        display: none;
    }

    .formularChangePassword {
        width: 100%;
        padding-bottom: 20px;
    }

}