html {
    scroll-behavior: smooth;
}

.header {
    display: flex;
    width: 100%;
    background-color: rgb(7, 62, 82, 0.9);
    position: fixed;
    margin-top: 50px;
    
    padding-bottom: 0%;
}

.logo_header {
    margin-left: 2%;
    margin-top: 5px;
    width: 6%;

}

.logo_header img {
    width: 150px;
    position: absolute;
}

.NB_css {
    width: 600px;
    margin: 0 0% 0 110px;
    height: 50px;
}

.NB_css ul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 15px;
}

.NB_css ul li{
    float: left;
    width: 18%;
    margin-top: -5px;
}

.NB_css ul li a{
    color: white;
    font-size: 15px;
    text-decoration: none;
}

.buttonsHeader {
    position: absolute;
    right: 2%;
    margin-top: 5px;

}
@media (max-width: 900px){
    .NB_css {
        display: none;
    }
}