.login {
    display: flex;
}

.container {
    margin-top: 5%;
}

.titleFormLogin {
    margin-top: 50%;
    margin-bottom: 10%;
}

#submitLogin {
    background-color: rgb(7, 62, 82);
}

.imgLogin{
    width: 45%;
    position: fixed;
}

.imgLogin img {
    width: 100%;
    height: 100vh;

}

.goToForgotPassword {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    padding-left: 0;
}


@media (max-width: 600px){
    .imgLogin {
        display: none;
    }

    .titleFormLogin {
        margin-top: 20%;
        margin-bottom: 10%;
    }

}