.middleHomepage {
  margin: 0 0% 10% 0%;
}
.middleHomepageResponse {
  display: none;
}
.title {
  text-align: left;
  margin-bottom: 3%;
}

.middle {
  display: flex;
  padding-bottom: 5%;
  margin-left: 5%;
  width: 90%;
}

.textMiddle {
  display: block;
}

.slika {
  width: 40%;
  height: auto;
}

.slikaDesno {
  width: 45%;
  padding-left: 5%;
}

.tekst {
  padding-left: 5%;
}

.clanovi_timovi {
  width: 100%;
  margin: 30px 0 0 0;
  display: flex;
}

.clanovi_timovi .clan_t {
  color: black;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.clanovi_timovi img{
  width: 80%;
  margin: 15px 0 5px 0;
  border: 2px solid #71cbc9;
  border-radius: 50%;
}

.clanovi_timovi img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

#gradovi {
  background: #f4f5f9 !important;
  height: 80vh;
  width: 100%;
  padding-top: 200px;
}

#kontakt {
  background: #f4f5f9 !important;
  height: 80vh;
  width: 100%;
  padding-top: 200px;
}

#oNama {
  height: 80vh;
  width: 100%;
  padding-top: 200px;
}

#usluge {
  height: 80vh;
  width: 100%;
  padding-top: 200px;
}

#tim {
  height: 80vh;
  width: 100%;
  padding-top: 200px;
}

#titleTim {
  text-align: center;
}

@media (max-width: 950px){
  .middleHomepage {
    display: none;
  }

  .middleHomepageResponse {
    display: block;
  }
  .middleHomepageResponse h1{
    text-align: center;
  }

  .middleHomepageResponse .middle {
    display: block;
  }

  #uslugeResponse {
    height: auto;
    padding-top: 100px;
  }
  #gradoviResponse {
    background: #f4f5f9 !important;
    height: auto;
    width: 100%;
    padding-top: 100px;
  }
  
  #kontaktResponse {
    background: #f4f5f9 !important;
    height: auto;
    width: 100%;
    padding-top: 100px;
  }
  
  #oNamaResponse {
    height: auto;
    width: 100%;
    padding-top: 100px;
  }
  
  #timResponse {
    height: auto;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .slika {
    width: 100%;
    height: auto;
    padding-top: 15px;
  }

  .clanovi_timovi {
    margin: 30px 0 0 0;
    display: block;
  }

  .clanovi_timovi img{
    width: 300px;
  }
}